.dpFlx{
  display: flex;
  display: -webkit-flex;
}
.jusConSpaAro{
  justify-content: space-around;
  -webkit-justify-content: space-around;
}
a{
  cursor: pointer;
}
.flx20{
  flex: 20%;
  -webkit-flex: 20%;
}
.flx80{
  flex: 80%;
  -webkit-flex: 80%;
}
.flx25{
  flex: 25%;
  -webkit-flex: 25%;
}
.flx33{
  flex: 33%;
  -webkit-flex: 33%;
}